.main {
  max-width: 960px;
  margin: 0 auto;
}
.nav > li.active > a {
  color: #343a40;
  background-color: aquamarine;
}
.navbar-dark .navbar-nav .nav-link:focus, 
.navbar-dark .navbar-nav .nav-link:hover, 
.navbar-dark .navbar-nav .nav-link:active {
  color: #343a40;
  background-color: aquamarine;
}
.col-4 {
  padding-right: 0;
}
.col-8 {
  padding-left: 0;
}
.filters {
  padding: 20px;
  border: 1px solid #212529;
  height: 100%;
}
.btn {
  display: block;
  font-weight: 200;
  border: 1px solid #212529; 
  margin-bottom: 8px;
  border-radius: 0;
  width: 100%;
}
.btn:hover,
.btn:active,
.btn:focus {
  background-color: whitesmoke;
  outline: 0;
  box-shadow: none;
}
/* Set the size of the div element that contains the map */
#map {
  height: 600px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }